<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signs</key>
	<array>
		<dict>
			<key>camera</key>
			<dict>
				<key>quality</key>
				<string>0.5</string>
				<key>height</key>
				<string>100</string>
				<key>width</key>
				<string>165</string>
				<key>evidence</key>
				<string>true</string>
				<key>attach</key>
				<string>false</string>
				<key>callbackKey</key>
				<string>cameraPicture</string>
				<key>takePicOnComfirmSig</key>
				<string>true</string>
				<key>showPreviewUI</key>
				<string>false</string>
				<key>bSaveAllData</key>
				<string>true</string>
				<key>face</key>
				<string>true</string>
				<key>faceMessage</key>
				<string>未检测到人脸，请重拍</string>
			</dict>
			<key>SignImageSizeHeight</key>
			<string>100</string>
			<key>SignImageSizeWidth</key>
			<string>100</string>
			<key>Tid</key>
			<string>10003</string>
			<key>RuleType</key>
			<string>2</string>
			<key>name</key>
			<string>1111</string>
			<key>IdNumber</key>
			<string>123456789</string>
			<key>cid</key>
			<string>20</string>
			<key>geo</key>
			<string>false</string>
			<key>isTss</key>
			<string>false</string>
			<key>kw</key>
			<string>甲方签字</string>
			<key>kwPost</key>
			<string>3</string>
			<key>kwOffset</key>
			<string>0</string>
			<key>kwIndex</key>
			<string>0</string>
			<key>xOffset</key>
			<string>0</string>
			<key>yOffset</key>
			<string>0</string>
			<key>Left</key>
			<string>10</string>
			<key>Top</key>
			<string>150</string>
			<key>Right</key>
			<string>50</string>
			<key>Bottom</key>
			<string>100</string>
			<key>Pageno</key>
			<string>2</string>
			<key>timePos</key>
			<string>2</string>
			<key>timeFormat</key>
			<string>2014-11-02</string>
			<key>isViewMyself</key>
			<string>false</string>
			<key>Scale</key>
			<string>1.0</string>
			<key>StrokeWidth</key>
			<string>8..0</string>
			<key>StrokeColor</key>
			<string>#000000</string>
		</dict>
		<dict>
			<key>camera</key>
			<dict>
				<key>quality</key>
				<string>0.5</string>
				<key>height</key>
				<string>75</string>
				<key>width</key>
				<string>124</string>
				<key>evidence</key>
				<string>true</string>
				<key>attach</key>
				<string>false</string>
				<key>callbackKey</key>
				<string>cameraPicture</string>
				<key>takePicOnComfirmSig</key>
				<string>true</string>
				<key>showPreviewUI</key>
				<string>false</string>
				<key>bSaveAllData</key>
				<string>true</string>
				<key>face</key>
				<string>true</string>
				<key>faceMessage</key>
				<string>未检测到人脸</string>
			</dict>
			<key>SignImageSizeHeight</key>
			<string>100</string>
			<key>SignImageSizeWidth</key>
			<string>100</string>
			<key>Tid</key>
			<string>10004</string>
			<key>RuleType</key>
			<string>1</string>
			<key>name</key>
			<string>1111</string>
			<key>IdNumber</key>
			<string>123456789</string>
			<key>cid</key>
			<string>21</string>
			<key>geo</key>
			<string>false</string>
			<key>isTss</key>
			<string>false</string>
			<key>kw</key>
			<string>乙方签字</string>
			<key>kwPost</key>
			<string>2</string>
			<key>kwOffset</key>
			<string>100</string>
			<key>kwIndex</key>
			<string>0</string>
			<key>xOffset</key>
			<string>0</string>
			<key>yOffset</key>
			<string>0</string>
			<key>Left</key>
			<string>55.0</string>
			<key>Top</key>
			<string>40.00</string>
			<key>Right</key>
			<string>85.0</string>
			<key>Bottom</key>
			<string>11.0</string>
			<key>Pageno</key>
			<string>1</string>
			<key>timePos</key>
			<string>2</string>
			<key>timeFormat</key>
			<string>2014-11-02</string>
			<key>isViewMyself</key>
			<string>false</string>
			<key>Scale</key>
			<string>1.0</string>
			<key>StrokeWidth</key>
			<string>8.0</string>
			<key>StrokeColor</key>
			<string>#000000</string>
		</dict>
	</array>
	<key>mutiSigns</key>
	<array>
		<dict>
			<key>SignImageSizeHeight</key>
			<string>70</string>
			<key>SignImageSizeWidth</key>
			<string>650</string>
			<key>commitment</key>
			<string>本人已经</string>
			<key>name</key>
			<string>1111</string>
			<key>IdNumber</key>
			<string>123456789</string>
			<key>Tid</key>
			<string>100004</string>
			<key>RuleType</key>
			<string>1</string>
			<key>kw</key>
			<string>甲方签字</string>
			<key>kwPost</key>
			<string>2</string>
			<key>kwOffset</key>
			<string>100</string>
			<key>kwIndex</key>
			<string>0</string>
			<key>xOffset</key>
			<string>0</string>
			<key>yOffset</key>
			<string>0</string>
			<key>Left</key>
			<string>11.01</string>
			<key>Top</key>
			<string>40.00</string>
			<key>Right</key>
			<string>40.00</string>
			<key>Bottom</key>
			<string>11.01</string>
			<key>Pageno</key>
			<string>1</string>
			<key>timePos</key>
			<string>2</string>
			<key>timeFormat</key>
			<string>2014-10-19</string>
			<key>StrokeWidth</key>
			<string>5.0</string>
			<key>StrokeColor</key>
			<string>#000000</string>
			<key>Scale</key>
			<string>1.0</string>
			<key>LineMax</key>
			<string>20</string>
			<key>cid</key>
			<string>30</string>
			<key>isEcho</key>
			<string>true</string>
		</dict>
		<dict>
			<key>SignImageSizeHeight</key>
			<string>70</string>
			<key>SignImageSizeWidth</key>
			<string>650</string>
			<key>commitment</key>
			<string>本人已经阅读保险条款，产品说明书和投保提示书，了解本产品的特点和保单利益的不确定性。</string>
			<key>name</key>
			<string>1111</string>
			<key>IdNumber</key>
			<string>123456789</string>
			<key>Tid</key>
			<string>100004</string>
			<key>RuleType</key>
			<string>0</string>
			<key>kw</key>
			<string>家属签名</string>
			<key>kwPost</key>
			<string>3</string>
			<key>kwOffset</key>
			<string>0</string>
			<key>kwIndex</key>
			<string>0</string>
			<key>xOffset</key>
			<string>0</string>
			<key>yOffset</key>
			<string>0</string>
			<key>Left</key>
			<string>11.01</string>
			<key>Top</key>
			<string>40.00</string>
			<key>Right</key>
			<string>40.00</string>
			<key>Bottom</key>
			<string>11.01</string>
			<key>Pageno</key>
			<string>1</string>
			<key>timePos</key>
			<string>2</string>
			<key>timeFormat</key>
			<string>2014-10-19</string>
			<key>StrokeWidth</key>
			<string>5.0</string>
			<key>StrokeColor</key>
			<string>#000000</string>
			<key>Scale</key>
			<string>1.0</string>
			<key>LineMax</key>
			<string>20</string>
			<key>cid</key>
			<string>31</string>
			<key>isEcho</key>
			<string>true</string>
		</dict>
	</array>
	<key>cameras</key>
	<array>
		<dict>
			<key>cid</key>
			<string>50</string>
			<key>quality</key>
			<string>75</string>
			<key>width</key>
			<string>124</string>
			<key>height</key>
			<string>79</string>
			<key>face</key>
			<string>false</string>
			<key>faceMessage</key>
			<string>未检测到人脸，请重新拍摄</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>1</string>
				<key>index</key>
				<string>0</string>
				<key>eniId</key>
				<string>20</string>
				<key>geo</key>
				<string>false</string>
			</dict>
		</dict>
		<dict>
			<key>cid</key>
			<string>52</string>
			<key>quality</key>
			<string>50</string>
			<key>width</key>
			<string>260</string>
			<key>height</key>
			<string>150</string>
			<key>face</key>
			<string>false</string>
			<key>faceMessage</key>
			<string>未检测到人脸，请重新拍摄</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>0</string>
				<key>index</key>
				<string>1</string>
				<key>eniId</key>
				<string>20</string>
				<key>geo</key>
				<string>false</string>
			</dict>
		</dict>
	</array>
	<key>records</key>
	<array>
		<dict>
			<key>showUi</key>
			<string>false</string>
			<key>DurTime</key>
			<string>3.0</string>
			<key>cid</key>
			<string>54</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>1</string>
				<key>index</key>
				<string>0</string>
				<key>eniId</key>
				<string>20</string>
			</dict>
		</dict>
		<dict>
			<key>showUi</key>
			<string>true</string>
			<key>DurTime</key>
			<string>3.0</string>
			<key>cid</key>
			<string>56</string>
			<key>evidence</key>
			<dict>
				<key>attach</key>
				<string>false</string>
				<key>BioType</key>
				<string>1</string>
				<key>index</key>
				<string>0</string>
				<key>eniId</key>
				<string>20</string>
			</dict>
		</dict>
	</array>
	<key>Template</key>
	<dict>
		<key>type</key>
		<string>11</string>
		<key>data</key>
		<string>2_new.html</string>
		<key>styleTid</key>
		<string>112233</string>
	</dict>
	<key>forminfo</key>
	<dict>
		<key>Channel</key>
		<string>888888</string>
		<key>FlowId</key>
		<string>12</string>
		<key>IsSync</key>
		<string>true</string>
		<key>IsUnit</key>
		<string>false</string>
		<key>WONo</key>
		<string>123123</string>
		<key>serverEncType</key>
		<string>RSA</string>
	</dict>
	<key>Cachet</key>
	<dict>
		<key>Tid</key>
		<string>10003</string>
		<key>IsTSS</key>
		<string>false</string>
		<key>RuleType</key>
		<string>2</string>
		<key>kw</key>
		<string>13612345678</string>
		<key>kwPost</key>
		<string>2</string>
		<key>kwOffset</key>
		<string>100</string>
		<key>Left</key>
		<string>11.01</string>
		<key>Top</key>
		<string>40.00</string>
		<key>Right</key>
		<string>40.00</string>
		<key>Bottom</key>
		<string>11.01</string>
		<key>Pageno</key>
		<string>1</string>
		<key>AppName</key>
		<string>1234</string>
	</dict>
</dict>
</plist>
